<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bankist App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
</head>
</head>

<body style="background-color: rgb(243, 232, 232);">    
        <div class="main">
            <div class="login-btn" style="margin-bottom: 20px;">
                <a href="/auth/github/login" class="btn">
                    <i class="fab fa-google left"></i> LOG IN WITH GITHUB
                </a>
            </div>
            <div class="img-div"><img src="images/ingre.webp" alt=""></div>
                <div class="header-sect">                   
                    <h2 class="app-name">The Ingredient Finder 9000</h2>
                    <p class="lead"> Log in to access your Ingredient</p>                      
                                           
                </div>
                <div class="login-btn" style="margin-top: 40px;">
                    <a href="/auth/logout" class="btn"> LOG OUT </a>
                </div>
            </div>
    </div>
</body>

</html>